<div class="container">
    <legend>Insert Player</legend>
    <form>
        <div class="mb-3">
            <label for="txtName" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)] = "formdata.name" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtPosition" class="form-label">Position</label>
            <input type="text" name="position" [(ngModel)] = "formdata.position" class="form-control" id="txtPosition"/>
        </div>
        <div class="mb-3">
            <label for="txtClub" class="form-label">Club</label>
            <input type="text" name="club" [(ngModel)] = "formdata.club" class="form-control" id="txtClub"/>
        </div>
        <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
</div>